*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --backgroundColor: #f0efff;
    --mainColor: #6c63ff;
    --lightGray: rgba(0, 0, 0, 0.54);
}

body {
    margin: 0;
    font-family: 'Nunito';
}

.skills-wrapper {
    font-weight: bold;
    display: block;
    height: 2em;

    @media only screen and (min-width: 769px) {
        display: initial;
    }
}

.logo {
    font-weight: bold;
}

nav {
    position: fixed;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
    top: 0;

    &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        content: '';
        background: rgba(255, 255, 255, 0.95);
        left: -999em;
        right: -999em;
    }
}

.logo {
    &:hover {
        .letter {
            animation: bounce .3s ease alternate;

            @for $i from 1 through 3 {
                &:nth-child($i) {
                    animation-delay: $i * 0.1;
                }
            }
        }

        .letter:nth-child(1) {
            animation-delay: .1s;
        }

        .letter:nth-child(2) {
            animation-delay: .2s;
        }

        .letter:nth-child(3) {
            animation-delay: .3s;
        }

        .letter:nth-child(4) {
            animation-delay: .4s;
        }

        .letter:nth-child(5) {
            animation-delay: .5s;
        }

        .letter:nth-child(6) {
            animation-delay: .6s;
        }

        .letter:nth-child(7) {
            animation-delay: .7s;
        }
    }

    .letter {
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 0px;
        top: 0px;
    }
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin-top: 10px;

    &:first-of-type {
        margin-top: 0;
    }

    @media only screen and (min-width: 769px) {
        margin-top: 0;
    }
}

nav ul li:hover {

    a:before,
    a:after {
        width: 100%;
        opacity: 1;
    }
}

nav ul li a {
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
    position: relative;
    color: white;

    @media only screen and (min-width: 769px) {
        color: black;
    }
}

nav ul li a:before,
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.3s ease-in-out;
    // transition-duration: 0.75s;
    opacity: 0;
    background-color: white;

    @media only screen and (min-width: 769px) {
        background-color: darken(#6c63ff, 5%);
    }
}

nav ul li a:hover {
    cursor: pointer;

}

.hero-content {
    width: 100%;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 769px) {
        width: 50%;
        padding-left: 50px;
    }

    h1 {
        font-size: 2em;
    }
}

.hero-illustration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

    @media only screen and (min-width: 769px) {
        margin-top: 0;
        width: 50%;
    }
}

.hero-illustration svg {
    max-width: 100%;
    max-height: 300px;
}

.hero-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-decoration: none;
    animation: bounceArrow 3s ease infinite;
    cursor: pointer;

    &:before {
        content: '';
        width: 16px;
        height: 26px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-down' class='svg-inline--fa fa-angle-down fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
    }
}

.navigation-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    left: 0;
    top: 60px;
    background: rgb(108, 99, 255);
    transform: translateX(calc(100% + 20px));
    transition: transform .25s ease;

    &.slideIn {
        transform: translateX(0);
    }

    @media only screen and (min-width: 769px) {
        transform: none;
        flex-direction: row;
        background: 0 0;
        position: unset;
        justify-content: flex-end;
        width: auto;
    }
}

.navigation-mobile-icon {
    width: 20px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    &.open {
        span:nth-child(1) {
            top: 9px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        span:nth-child(3) {
            top: 9px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 9px;
        }

        &:nth-child(3) {
            top: 18px;
        }
    }

    @media only screen and (min-width: 769px) {
        display: none;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100vh;
    justify-content: center;

    @media only screen and (min-width: 769px) {
        flex-direction: row;
        padding-top: 60px;
    }

    &:nth-of-type(even) {
        background-color: #f0efff;
    }
}

.personal-illustration,
.contact-illustration {
    order: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        height: 250px;

        @media only screen and (min-width: 769px) {
            height: 350px;
        }
    }

    @media only screen and (min-width: 769px) {
        width: 50%;
        order: 1;
    }
}

.personal-content,
.contact-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    @media only screen and (min-width: 769px) {
        width: 50%;
        padding-left: 50px;
        padding-right: 50px;
        order: 2;
    }
}

.contact-contentTitleWrapper {
    position: relative;

    svg {
        height: 98px;
        width: 101px;
        top: 37px;
        left: 120px;
        position: absolute;
    }

    path {
        fill: none;
    }

    g {
        transform: translateX(-38px) translateY(170px) scale(0.5)
    }

    polygon {
        opacity: 0;
    }
}

.portfolio-content {
    position: relative;
    align-items: center;
    flex-direction: column;
}

.swiper-container {
    width: 70vw;

    @media only screen and (min-width: 769px) {
        width: 50vw;
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 5px solid var(--backgroundColor);
        border-radius: 10px;

        img {
            max-width: 80%;
            height: auto;
            border-bottom: 1px solid var(--backgroundColor);
            padding-bottom: 20px;

            @media only screen and (min-width: 769px) {
                max-width: 40%;
            }
        }
    }
}

.swiper-pagination {
    position: relative;

    &-bullet {
        margin-right: 5px;

        &-active {
            background: var(--mainColor);
        }
    }
}

.swiper-button-next {
    right: 3vw;

    @media only screen and (min-width: 769px) {
        right: 5vw;
    }
}

.swiper-button-prev {
    left: 3vw;

    @media only screen and (min-width: 769px) {
        left: 5vw;
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 50%;

    &:after {
        color: var(--mainColor);
    }
}

.appStoreIcons {
    align-self: flex-start;

    .iconWrapper {
        margin-right: 5px;
    }
}

.iconWrapper {
    align-self: flex-start;

    .linkIcon {
        height: 1.3em;
        width: 1.3em;
    }

    &:hover path {
        fill: var(--mainColor);
    }

    path {
        fill: var(--lightGray);
    }
}

.cls-1 {
    fill: #e6e6e6;
}

.cls-2 {
    fill: #ffb8b8;
}

.cls-3 {
    fill: none;
}

.cls-4 {
    fill: #2f2e41;
}

.cls-5 {
    fill: #d0cde1;
}

.cls-6 {
    fill: #4d3324;
}

.contact-content {
    ul {
        list-style: none;
        display: flex;
        padding-left: 0;
    }

    li {
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
            ;
        }

        .socialIcon {
            height: 30px;
            width: 30px;

            &:hover path {
                fill: var(--mainColor);
            }

            path {
                fill: var(--lightGray);
            }
        }
    }

    .arrow {
        height: 30px;
    }

    .arrowPath {
        stroke-dasharray: 120;
        stroke-dashoffset: 120;
        animation: draw 2s infinite;
    }
}

.contact-illustration {
    order: 1;
    margin-bottom: 50px;

    @media only screen and (min-width: 769px) {
        order: 2;
    }

    svg {
        height: 300px;

        @media only screen and (min-width: 769px) {
            height: 400px;
            order: 2;
        }
    }
}

.contact-content {
    order: 1;
}

@keyframes bounce {
    50% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes bounceArrow {
    5% {
        bottom: 5px;
    }

    10% {
        bottom: 0;
    }

    100% {
        bottom: 0;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}