*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito';
}

.skills-wrapper {
    font-weight: bold;
}

.logo {
    font-weight: bold;
}

nav {
    position: fixed;
    height: 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
    top: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 4px solid;
}

.hero-section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    min-height: 100vh;
    padding-top: 60px;
    background: #6c63ff10;
}

.hero-content {
    min-width: 400px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hero-illustration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-illustration img {
    max-width: 100%;
    max-height: 300px;
}