@tailwind base;

h1 {
    @apply text-2xl;
    margin-bottom: 1rem;
    font-weight: 600;
}

h2 {
    @apply text-xl;
    font-weight: 600;
}

@tailwind components;
@tailwind utilities;

body.dark nav ul li a:before,
body.dark nav ul li a:after {
    background-color: #b55400;
}

body.dark .timeline-container:after,
body.dark .timeline-item:after {
    background-color: #222831;
}

.darkTheme-checkbox:before,
.darkTheme-checkbox:after {
    content: "";
    display: block;
}

.darkTheme-checkbox:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}

.darkTheme-checkbox:after {
    background:
        linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.5em;
    height: 1.3em;
}

.darkTheme-checkbox:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
}

.darkTheme-checkbox:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
}

.logo:hover .letter {
    animation: bounce .3s ease alternate;
}

.logo:hover .letter:nth-child(1) {
    animation-delay: .1s;
}

.logo:hover .letter:nth-child(2) {
    animation-delay: .2s;
}

.logo:hover .letter:nth-child(3) {
    animation-delay: .3s;
}

.logo:hover .letter:nth-child(4) {
    animation-delay: .4s;
}

.logo:hover .letter:nth-child(5) {
    animation-delay: .5s;
}

.logo:hover .letter:nth-child(6) {
    animation-delay: .6s;
}

.logo:hover .letter:nth-child(7) {
    animation-delay: .7s;
}

.timeline-container::after {
    background-color: #f0efff;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item:after {
    content: " ";
    background-color: #ffffff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.5rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(even)::after {
    right: auto;
    left: 1em;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

nav ul li a:before,
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: #6c63ff;
}

nav ul li:hover a:before,
nav ul li:hover a:after {
    width: 100%;
    opacity: 1;
}

@keyframes bounce {
    50% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}